*,
*::after,
*::before{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
.title{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #1f1e1e;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.header__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0 49px;
}
.logo{
    max-width: 180px;
    max-height: 180px;
}
.logo__img{
    max-width: 130px;
    max-height: 130px;
    padding-left: 37px;
}
.header__phone{
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    font-weight: 700;
}
.header__phone-number{
    font-weight: 400;
    /* margin-left: 19px; */
    padding: 9px 27px 9px;
    background-color: #002ED9;
    border-radius: 9px;
}
.header__phone-number:hover{
    background-color: #002ED9;
    transition: 0.5s;
}

.menu{
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: 10px;
    padding: 27px 0 24px;
}
.menu__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 21px;
    color: #002ED9;
}
.menu__link:hover{
    background-color: #fff;
    transition: 0.5s;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.header__title{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 112%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: auto;
    color: #002ED9;
    text-shadow: #c8c1c1 4PX 4PX 8PX;
}
.header__descr{
    font-weight: 700;
    font-size: 20px;
    max-width: 300px;
    margin-bottom: 20px;
    color: #fff;
}
.header__btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 10px 45px 10px;
    background: #002fd991;
    border-radius: 11px;
    margin-bottom: 20px;
}
.header__btn:hover{
    background-color: #002ED9;
    transition: 0.5s;
}
.header__icon{
    height: 25px;
    cursor: pointer;
    padding-left: 903px;
}
.header__icon2{
    height: 25px;
    cursor: pointer;
}
.header__arrow{
    text-align: center;
    margin-bottom: 15px;
}
.direction{
    padding-top: 100px;
}
.direction__img {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
}
.direction__img:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 20%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
}
.direction__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}
.direction__img{
    display: block;
    width: 256px;
    height: 256px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.direction__text{
    font-size: 16px;
    border: 1px solid #d9d9de;
    border-top: none;
    padding: 10px 19px 14px;
}
.travel-info{
    background-image: url(../images/info-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 30px 0 50px;
}
.travel-info__title{
    color: #fff;
    margin-bottom: 50px;
}
.travel-info__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 54px 67px;
}
.travel-info__img{
    margin-bottom: 15px;
    padding-left: 54px;
}
.travel-info__text{
    color: #fff;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
}
.popular{
    padding: 100px 0;
}
.popular__title{
    margin-bottom: 40px;
}
.popular__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;
    padding-bottom: 80px;
    border-bottom: 1px solid #d9d9de;
}
.popular__link{
    padding: 16px 24px 19px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 256px;
    line-height: 130%;
    border-radius: 15px;
}
.popular__link:nth-child(3),
.popular__link:nth-child(6){
    grid-column: span 2;
    grid-row: span 2;
}
.popular__link-title{
    font-weight: 500;
    margin-bottom: 15px;

}
.popular__link-title--big{
    font-size: 24px;
}
.popular__price{
    font-weight: bold;
    font-size: 16px;
    margin-top: auto;
}
.popular__country,
.popular__time{
    margin-bottom: 15px;
}
.our__comand{
    margin-bottom: 130px;
}
.text-center {
    text-align: center;
    margin-bottom: 60px;
}
.text-center span{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    color: #c35c8b;
}
.text-center p{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.flex__comand{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.team__photo1{
    width: 320px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}
.team__photo2{
    width: 320px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}
.team{
    position: relative;
    padding: 0;
    border: 2px solid #fff;
}
.team:before, .team:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(/storage/app/media/recrec.svg);
    z-index: 2;
    opacity: 1;
    transition: .7s;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.team .team__photo2{
    position: absolute;
    border-radius: 15px;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 2;
    transition: all .5s ease;
}
.team .absol{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    opacity: 0;
    margin: 40px;
    transition: all .5s ease;
}
.team:hover .team__photo2{
    opacity: 0;
}
.team:hover .absol{
    opacity: 1;
}
.absol div{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.absol .team__yb{
    margin-top: 0;
    color: #2fc6ff;
    font-size: 14px;
}
.absol .team__fraz{
    position: absolute;
    bottom: 0;
    font-size: 14px;
}
.map{
    padding-bottom: 100px; 
}
.map__title{
    margin-bottom: 46px;
}
.about{
    padding-bottom: 100px;
}
.about__inner{
    display: grid;
    grid-template-columns: 448px 640px;
    grid-gap: 32px;
}
.about__title{
    text-align: left;
    margin-bottom: 25px;
}
.about__text{
    margin-bottom: 34px;
}
.about__link{
    font-size: 16px;
    line-height: 19px;
    color: #c4c4c4;
    text-decoration: underline;
}

.gallery{
    padding: 50px 0 105px;
    background: #002fd947;
    color: #fff;
}
.gallery__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 160px;
}
.gallery__link{
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
}
.gallery__item-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
}
.gallery__item-img{
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.5s;
}
.slick-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -85px;
    right: 0;
}
.slick-prev{
    right: 60px;
}
.tour{
    padding: 100px 0;
}
.tour__title{
    margin-bottom: 77px;
}
.tour__box{
    column-count: 2;
    column-gap: 46px;
    border-bottom: 1px solid #d9d9de;
    padding-bottom: 50px;
    margin-bottom: 44px;
}
.tour__text{
    margin-bottom: 15px;
}
.tour__text span{
    font-weight: 700;
}
.tour__info{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 70px;
}
.tour__info-item{
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 58px;
    line-height: 60px;
    color: #c35c8b;
    text-align: center;
}
.tour__info-text{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #1f1e1e;
}
.booking{
    background: #eaeaea;
    padding: 75px 0;
}
.booking__title{
    margin-bottom: 43px;
}
.booking__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 830px;
    margin: 0 auto;
}
.booking__input{
    width: 256px;
    height: 44px;
    border: 1px solid #d9d9de;
    padding: 11px 14px 12px;
    margin-bottom: 28px;
    font-size: 16px;
    border-radius: 15px;
}
.booking__input::placeholder,
.booking__area::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #c4c4c4;
}
.booking__area{
    width: 100%;
    padding: 14px;
    height: 112px;
    border: 1px solid #d9d9de;
    resize: none;
    margin-bottom: 67px;
    border-radius: 15px;
}
.booking__btn{
    background: #002fd991;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    padding: 19px 65px 20px;
    cursor: pointer;
}
.booking__btn:hover{
    background-color: #002ED9;
    transition: 0.5s;
}
.booking__label{
    font-size: 16px;
    line-height: 130%;
    text-decoration: underline;
    display: flex;
    align-items: center;
}
.booking__checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip:rect(0 0 0 0);
    padding-left: 45px;

}
.booking__checkbox-style{
    width: 26px;
    height: 26px;
    border: 2px solid #c4c4c4;
    border-radius: 2px;
    position: absolute;
    margin-left: -45px;
    border-radius: 7px;
}
.booking__checkbox:checked + .booking__checkbox-style::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #c4c4c4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer{
    background: #1f1e1e;
    padding: 80px 0;
}
.footer__logo{
    text-align: center;
    margin-bottom: 70px;
}
.footer__box{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 130%;
    max-width: 830px;
    margin: 0 auto;
    color: rgba(255, 255, 255, .8);
}
.footer__info{
    width: 225px;
}
.footer__box-title{
    margin-bottom: 7px;
    font-weight: 500;
    color: #fff;
}
.footer__copy{
    margin-bottom: 3px;
}
.footer__link{
    text-decoration: underline;
}
.footer__address{
    width: 165px;
}
.footer__contacts{
    width: 150px;
}
.footer__mail{
    display: block;
}
.menu__btn{
    display: none;
}


@media (max-width: 1140px){
    .direction__inner{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    .direction__img{
        width: 100%;
    }
    .about__inner{
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
    }
    .gallery__item-inner{
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery__item-img{
        width: 100%;
    }
    .header{
        background-image: url(../images/header-bg.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }
    .header__title {
    margin-top: -190px;
    }
}
@media (max-width: 990px){
    .popular__link{
        min-height: 200px;
    }
    .popular__items{
        grid-gap: 10px;
    }
    .tour__info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 15px ;
    }
}
@media (max-width: 800px){
    .header__phone span{
        display: none;
    }
    .travel-info__items{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }
    .popular__link:nth-child(3),
    .popular__link:nth-child(6){
        grid-column: auto;
        grid-row: auto;
    }
    .popular__items{
        grid-template-columns: repeat(2, 1fr);
    }
    .popular__link{
        min-height: 320px;
    }
    .popular{
        padding: 50px 0;
    }
    .map{
        padding-bottom: 50px;
    }
    .map__iframe{
        height: 400px;
    }
    .about__inner{
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .about__popup{
        min-height: 400px;
    }
    .about{
        padding-bottom: 50px;
    }
    .gallery{
        padding-bottom: 50px;
    }
    .tour{
        padding: 50px 0;
    }
    .tour__box{
        column-count: 1;
    }
    .tour__title{
        margin-bottom: 40px;
    }
    .tour__info{
        grid-template-columns: repeat(2, 1fr);
    }
    .booking{
        padding: 50px 0;
    }
    .booking__input{
        width: 100%;
    }
    .booking__label{
        margin-top: -192px;
        margin-left: 50px;
        width: 100%;
    }
    .footer{
        padding: 50px 0;
    }
    .footer__logo{
        margin-bottom: 40px;
    }
    .footer__box{
        display: block;
        text-align: center;
    }
    .footer__info,
    .footer__address{
        margin: 0 auto 25px;
    }
    .footer__contacts{
        margin: 0 auto;
    }
}
@media (max-width: 560px){
    .header__title{
        font-size: 50px;
    }
    .menu__btn{
        display: inline-block;
        width: 40px;
        height: 30px;
        border: none;
        padding: 0;
        background-color: transparent;
        position: absolute;
        right: 10px;
        top: 107px;
    }
    .menu__btn::after,
    .menu__btn::before{
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: 2px;
        background-color: #fff;
    }
    .menu__btn::before{
        top: 0;
    }
    .menu__btn::after{
        bottom: 0;
    }
    .menu__btn span{
        display: block;
        height: 2px;
        background-color: #fff;
    }
    .menu__list{
        transform: translateY(-200%);
        display: block;
        background-color: #886239;
        padding: 10px 0;
        position: absolute;
        left: 0;
        right: 0;
        transition: all .3s;
    }
    .menu__list.menu__list--active{
        transform: translateY(0%);
    }
    .menu__link{
        padding: 10px;
        display: block;
        text-align: center;
    }
    .logo{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .header__phone-number{
        margin-left: 0;
    }
    .menu{
        border: none;
    }
    .direction__inner{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .direction{
        padding: 50px 0;
    }
    .travel-info__items{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .title{
        font-size: 28px;
    }
    .popular__items{
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery__item-inner{
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery__title{
        width: 100%;
        text-align: left;
    }
    .gallery__top{
        flex-wrap: wrap;
    }
}
@media (max-width: 460px){
    .travel-info__items{
        grid-template-columns: repeat(1, 1fr);
    }
    .direction__inner{
        grid-template-columns: repeat(1, 1fr);
    }
    .tour__info{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 340px){
    .about__popup{
        min-height: 280px;
    }
}
.df {
    display: flex;
    justify-content: space-between;
    width: 60px;
  }